In [4]:
import kagglehub
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
path = kagglehub.dataset_download("mlg-ulb/creditcardfraud")
data = pd.read_csv(f'{path}/creditcard.csv')

In [15]:
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [21]:
real = data[data.Class == 0]
fraud = data[data.Class ==1]

In [24]:
real.shape, fraud.shape

((284315, 31), (492, 31))

In [25]:
real.describe()

                Time             V1  ...         Amount     Class
count  284315.000000  284315.000000  ...  284315.000000  284315.0
mean    94838.202258       0.008258  ...      88.291022       0.0
std     47484.015786       1.929814  ...     250.105092       0.0
min         0.000000     -56.407510  ...       0.000000       0.0
25%     54230.000000      -0.917544  ...       5.650000       0.0
50%     84711.000000       0.020023  ...      22.000000       0.0
75%    139333.000000       1.316218  ...      77.050000       0.0
max    172792.000000       2.454930  ...   25691.160000       0.0

[8 rows x 31 columns]

In [26]:
fraud.describe()

                Time          V1          V2  ...         V28       Amount  Class
count     492.000000  492.000000  492.000000  ...  492.000000   492.000000  492.0
mean    80746.806911   -4.771948    3.623778  ...    0.075667   122.211321    1.0
std     47835.365138    6.783687    4.291216  ...    0.547291   256.683288    0.0
min       406.000000  -30.552380   -8.402154  ...   -1.869290     0.000000    1.0
25%     41241.500000   -6.036063    1.188226  ...   -0.108868     1.000000    1.0
50%     75568.500000   -2.342497    2.717869  ...    0.146344     9.250000    1.0
75%    128483.000000   -0.419200    4.971257  ...    0.381152   105.890000    1.0
max    170348.000000    2.132386   22.057729  ...    1.779364  2125.870000    1.0

[8 rows x 31 columns]

In [27]:
data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

unders -sampling of data having similar distribution of both type

In [28]:
real_sample = real.sample(n=492)

In [39]:
new_dataset = pd.concat([real_sample,fraud],axis=0)

In [46]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [47]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      93162.936992  0.115642  0.012229  ... -0.005505  0.007357   78.261646
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [ ]:
# splitting the data in features and target 
x= new_dataset.drop(columns='Class')
y=new_dataset['Class']

In [60]:
#splitting the training and testing data
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y, random_state=2)

In [73]:
# model = LogisticRegression()
model= LogisticRegression()

In [ ]:
#model training
model.fit(X_train,y_train)

In [83]:
#accuracy on training data
predict_train=model.predict(X_train)
accuracy= accuracy_score(predict_train,y_train)
print('The accuracy score is:',accuracy)

The accuracy score is: 0.951715374841169

In [84]:
#accuracy on test data
predict_test=model.predict(X_test)
accuracy_test=accuracy_score(predict_test,y_test)
print('The accuracy score is:',accuracy_test)

The accuracy score is: 0.9390862944162437

In [86]:
print(list(data.iloc[4]))

[2.0, -1.15823309349523, 0.877736754848451, 1.548717846511, 0.403033933955121, -0.407193377311653, 0.0959214624684256, 0.592940745385545, -0.270532677192282, 0.817739308235294, 0.753074431976354, -0.822842877946363, 0.53819555014995, 1.3458515932154, -1.11966983471731, 0.175121130008994, -0.451449182813529, -0.237033239362776, -0.0381947870352842, 0.803486924960175, 0.408542360392758, -0.0094306971323291, 0.79827849458971, -0.137458079619063, 0.141266983824769, -0.206009587619756, 0.502292224181569, 0.219422229513348, 0.215153147499206, 69.99, 0.0]

In [ ]:
#predictive model
input_data=(2.0, -1.15823309349523, 0.877736754848451, 1.548717846511, 0.403033933955121, -0.407193377311653, 0.0959214624684256, 0.592940745385545, -0.270532677192282, 0.817739308235294, 0.753074431976354, -0.822842877946363, 0.53819555014995, 1.3458515932154, -1.11966983471731, 0.175121130008994, -0.451449182813529, -0.237033239362776, -0.0381947870352842, 0.803486924960175, 0.408542360392758, -0.0094306971323291, 0.79827849458971, -0.137458079619063, 0.141266983824769, -0.206009587619756, 0.502292224181569, 0.219422229513348, 0.215153147499206, 69.99)
input_dataarr=np.asarray(input_data)
newarr=input_dataarr.reshape(1,-1)
prediction=model.predict(newarr)

if(prediction[0]==0):
    print('The transaction is Real' )
else: 
    print('The transaction is Fraud')